<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xdclass.online_class.dao.VideoMapper">
    <select id="selectById" resultType="net.xdclass.online_class.domain.Video">
 select * from video where id = #{video_id}
 </select>
</mapper>